#gridDiv {
	position: absolute;
	width: 40%;
	height: 80%;
	top: 10%;

	background-color: rgb(111, 75, 58);

	cursor: pointer;
	overflow: scroll;

	left: 5%;
	top: 15%;
}

#bar {
	width: 100%;
	height: 5%;

	display: inline-flex;
}

#backButton {
	width: 20%;
	height: 100%;
	color: white;
	border: none;
	outline: none;

	cursor: pointer;
}

#headLabel {
	width: 80%;
	text-align: center;

	font-size: 20px;
	vertical-align: middle;
}

#trackDiv {
	position: absolute;
	top: 10%;
	width: 50%;
	right: 0;
	height: 90%;

	text-align: center;
}

#audioDiv {
	height: 30%;
	background-color: rgb(92, 56, 113);
}

#audio {
	outline: none;
	color:rgb(55, 101, 89);
}

#definitionsDiv {
	height: 70%;
	background-color: rgb(55, 101, 89);
}

#definitionsSelect {
	width: 40%;
	height: 40%;
	color: white;
	background-color: rgb(90, 90, 90);
	border: none;
	outline: none;
	padding: 10px;
}

#valueInput {
	width: 200px;
	height: 40px;
	outline: none;
}

#updateButton {
	width: 150px;
	height: 40px;
	font-size: 20px;
	cursor: pointer;
}