#wishesDiv {
	position: absolute;
	width: 50%;
	height: 90%;
	top: 10%;

	background-color: rgb(66, 19, 19);
	overflow: scroll;
	overflow-x: hidden;
}

#addDiv {
	position: absolute;
	width: 50%;
	height: 45%;
	right: 0;
	top: 10%;

	background-color: rgb(13, 54, 23);
	text-align: center;
}

#updateDiv {
	position: absolute;
	width: 50%;
	height: 45%;
	top: 55%;
	right: 0;

	background-color: rgb(80, 46, 8);
	text-align: center;
}