#wishesDiv {
	position: absolute;
	width: 50%;
	height: 90%;
	top: 10%;

	background-color: rgb(116, 69, 69);
	overflow: scroll;
	overflow-x: hidden;
}

#wishesTable {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

#wishesTable td {
	padding: 5px;
}

#addDiv {
	position: absolute;
	width: 50%;
	height: 45%;
	right: 0;
	top: 10%;

	background-color: rgb(63, 104, 73);
	text-align: center;
}

#updateDiv {
	position: absolute;
	width: 50%;
	height: 45%;
	top: 55%;
	right: 0;

	background-color: rgb(130, 96, 58);
	text-align: center;
}