@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: monospace;
	border: none;
	outline: none;
}

button {
	width: 150px;
	height: 30px;
	border: none;
	font-size: 16px;
	margin: 2px;
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 0;
}

input[type='text'],
select {
	width: 300px;
	height: 30px;
	border: none;
	outline: none;
	margin: 2px;
}
