@import 'tailwindcss';

* {
	font-family: monospace;
	border: none;
	outline: none;
}

button {
	width: 150px;
	height: 30px;
	border: none;
	font-size: 16px;
	margin: 2px;
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 0;
}

input[type='text'],
select {
	width: 300px;
	height: 30px;
	border: none;
	outline: none;
	margin: 2px;
}

.green-button {
	@apply bg-teal-400 shadow-xl shadow-teal-400 text-white rounded-lg w-fit p-1;
}

.orange-button {
	@apply bg-orange-400 shadow-xl shadow-orange-400 fill-white rounded-lg w-fit p-1;
}
