@import 'tailwindcss';

* {
	font-family: monospace;
	border: none;
	outline: none;
}

button {
	@apply bg-white shadow-xl rounded-xl w-fit px-3 py-2 cursor-pointer;
}

.view-container {
	@apply bg-zinc-100 overflow-scroll rounded-xl h-[80vh] shadow-2xl;
}

input[type='text'],
select {
	@apply shadow-xl rounded-xl bg-white;
	width: 300px;
	height: 30px;
	border: none;
	outline: none;
}

::-webkit-scrollbar {
	width: 0;
}

.green-button {
	@apply !bg-teal-400 shadow-xl shadow-teal-400 text-white;
}

.orange-button {
	@apply !bg-orange-400 shadow-xl shadow-orange-400 fill-white;
}

.red-button {
	@apply !bg-red-400 shadow-xl shadow-red-400 text-white;
}

.video-not-found {
	@apply !border-[1px] !border-solid !border-red-500;
}
